
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto/roboto-v20-latin_cyrillic-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto/roboto-v20-latin_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto/roboto-v20-latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto/roboto-v20-latin_cyrillic-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto/roboto-v20-latin_cyrillic-ext_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto/roboto-v20-latin_cyrillic-ext_cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }
 
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto/roboto-v20-latin_cyrillic-ext_cyrillic-500.eot'); /* IE9 Compat Modes */
    src: local('Roboto Medium'), local('Roboto-Medium'),
         url('../fonts/roboto/roboto-v20-latin_cyrillic-ext_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto/roboto-v20-latin_cyrillic-ext_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto/roboto-v20-latin_cyrillic-ext_cyrillic-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto/roboto-v20-latin_cyrillic-ext_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto/roboto-v20-latin_cyrillic-ext_cyrillic-500.svg#Roboto') format('svg'); /* Legacy iOS */
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto/roboto-v20-latin_cyrillic-ext_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'),
         url('../fonts/roboto/roboto-v20-latin_cyrillic-ext_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto/roboto-v20-latin_cyrillic-ext_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto/roboto-v20-latin_cyrillic-ext_cyrillic-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto/roboto-v20-latin_cyrillic-ext_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto/roboto-v20-latin_cyrillic-ext_cyrillic-700.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto/roboto-v20-latin_cyrillic-ext_cyrillic-900.eot'); /* IE9 Compat Modes */
    src: local('Roboto Black'), local('Roboto-Black'),
         url('../fonts/roboto/roboto-v20-latin_cyrillic-ext_cyrillic-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto/roboto-v20-latin_cyrillic-ext_cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto/roboto-v20-latin_cyrillic-ext_cyrillic-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto/roboto-v20-latin_cyrillic-ext_cyrillic-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto/roboto-v20-latin_cyrillic-ext_cyrillic-900.svg#Roboto') format('svg'); /* Legacy iOS */
  }

:root {
    --primary-text-color: #212121;
    --text-color-p: #757575;    
    --white: #FFFFFF;
    --main-background: #E5E5E5;
    --hero-footer-bcg: #2F303A;
    --blue: #2196F3;
    --footer-address: rgba(255, 255, 255, 0.6);
    --bcg-team: #F5F4FA
    }

    html{
        box-sizing: border-box;
    }

    *,*::before,
    *::after{
        box-sizing: inherit;
    }
              /* site-nav */
            
body {
    font-family: Roboto, sans-serif;
}

li{
    list-style: none;
}

.site-nav {
    background-color: var(--white);
    outline: 2px solid tomato;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    
}

.nav-logo {
    color: var(--blue);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    list-style: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo-studio{
    color: var(--primary-text-color);

    
}

.list{
    padding: 0;
    margin: 0;
}
.site-link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 0.87;
    letter-spacing: 0.02em;
    text-decoration: none;
}
    .site-link:hover,
    .site-link:focus {
    color: var(--blue);

}

 .site-link.current{
    color: var(--blue);
    text-decoration: none;
} 

.info{
    color: var(--text-color-p);
    outline: 2px solid black;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    
}
.info:hover,
.info:focus{
    color: var(--blue);
}

main{
    background-color: var(--bcg-team);
}

/* hero */
.hero {
    /* height: 600px; */
    background-color: var(--hero-footer-bcg);
    text-align: center;
    outline: 2px solid yellow;
}


.hero-title{
    color: var(--white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    margin-top: 0;
    margin-bottom: 30px;
       
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
}

.btn{
    color: var(--white);
    background-color: var(--blue);
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    min-width: 200px;
    height: 50px;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
}

/* details */
.details{
    background-color: var(--main-background);
    outline: 2px solid teal;
}

    

.details-title{
    color: var(--primary-text-color);
    margin: 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.details-text{
    color: var(--text-color-p);
    margin: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}


/* occupation */
.occupation-title{
    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0;
}

/* .occupation{
    background-color: var(--main-background);   
} */

/* team */
.team-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0;
}

.team-names{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    /* text-align: center; */
    letter-spacing: 0.03em;
    margin: 0;

}
.team-text{
    color: var(--text-color-p);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.18
    /* text-align: center; */
    letter-spacing: 0.03em;
    margin: 0;
}
    

/* .team{
    background-color: var(--bcg-team);
} */


/* Portfolio */

/* Фильтры */
.filter-link{
    color: var(--primary-text-color);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
/* identical to box height, or 162% */

text-align: center;
letter-spacing: 0.03em;
}
.filter-link:hover,
.filter-link:focus{
    color: var(--blue);
}

/* Offer */
.offer-title{
    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.offer-text{
    color: var(--text-color-p);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
}
/* .offer-bcg{
    background-color: var(--white);
} */

/* footer */
.footer{
    background-color: var(--hero-footer-bcg);
}
.footer-logo {
    color: var(--blue);

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    list-style: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.footer-span {
    color: var(--white);
}   

.f-address{
    color: var(--white);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.f-address:hover,
.f-address:focus{
    color: var(--blue);
}

.f-address-text{
    margin: 0;
}
.footer-info {
    color: var(--footer-address);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71
    letter-spacing: 0.03em;
    text-decoration: none;

}

.footer-info:hover,
.footer-info:focus {
    color: var(--blue);
}